*/dmgr/content/*
*/dmgr/www/textcontent/*
PID*
/fireup/nbproject/private/
/fireup/build/
.vscode/
*.o
*.test
/beats/nbproject/private/
/beats/build/
/se/nbproject/private/
/se/build/
/se/dist/
/dscore/nbproject/private/
/dscore/build/
/dscore/dist/
/Dmgr/nbproject/private/
/Dmgr/build/
/Dmgr/dist/
/se/Dmgr/build/
/se/Dmgr/dist/
/se/Dmgr/nbproject/private/
/java/beats/build/
/java/se/dist/
/java/se/build/
/java/dmgr/dist/
/java/dmgr/build/
/java/dscore/dist/
/java/dscore/build/
/java/fireup/build/
/java/fireup/dist/
/datamaster/nbproject/private/
/java/datamaster/nbproject/private/
/java/datamaster/build/
/java/datamaster/dist/
/java/dmgr/nbproject/private/
/java/fireup/nbproject/private/
/java/dscore/nbproject/private/
/java/apidoccer/nbproject/private/
/java/apidoccer/build/
/java/FindServer/nbproject/private/
/java/FindServer/build/
/java/TCycle/nbproject/private/
/java/http/nbproject/private/
/java/TCycle/dist/
/java/TCycle/build/
/java/doclassifiwe/nbproject/private/
/java/doclassfier/nbproject/private/
/java/docclassifier/nbproject/private/
/java/wserver/nbproject/private/
/java/wserver/build/
/java/wserver/dist/
/java/proxyserver/nbproject/private/
/java/proxyserver/dist/
/java/proxyserver/build/
/java/cmaster/nbproject/private/
/java/cmaster/build/
/java/cmaster/dist/
/java - Copy/apidoccer/build/
/java - Copy/apidoccer/nbproject/private/
/java - Copy/cmaster/build/
/java - Copy/cmaster/dist/
/java - Copy/cmaster/nbproject/private/
/java - Copy/datamaster/build/
/java - Copy/datamaster/dist/
/java - Copy/datamaster/nbproject/private/
/java - Copy/IPCDump/build/
/java - Copy/IPCDump/nbproject/private/
/java - Copy/docclassifier/nbproject/private/
/java - Copy/dscore/build/
/java - Copy/dscore/dist/
/java - Copy/dscore/nbproject/private/
/java - Copy/fireup - Copy/build/
/java - Copy/fireup - Copy/dist/
/java - Copy/fireup - Copy/nbproject/private/
/java - Copy/fireup/build/
/java - Copy/fireup/dist/
/java - Copy/fireup/nbproject/private/
/java - Copy/proxyserver/build/
/java - Copy/proxyserver/dist/
/java - Copy/proxyserver/nbproject/private/
/java - Copy/tcrawler/nbproject/private/
/java - Copy/wserver/build/
/java - Copy/wserver/dist/
/java - Copy/wserver/nbproject/private/
/java/IPCDump/dist/