/fireup/nbproject/private/
/fireup/build/
.vscode/
*.o
*.test
/beats/nbproject/private/
/beats/build/
/se/nbproject/private/
/se/build/
/se/dist/
/dscore/nbproject/private/
/dscore/build/
/dscore/dist/
/Dmgr/nbproject/private/
/Dmgr/build/
/Dmgr/dist/
/se/Dmgr/build/
/se/Dmgr/dist/
/se/Dmgr/nbproject/private/
/java/beats/build/
/java/se/dist/
/java/se/build/
/java/dmgr/dist/
/java/dmgr/build/
/java/dscore/dist/
/java/dscore/build/
/java/fireup/build/
/java/fireup/dist/
/datamaster/nbproject/private/
/java/datamaster/nbproject/private/
/java/datamaster/build/
/java/datamaster/dist/
/java/dmgr/nbproject/private/
/java/fireup/nbproject/private/
/java/dscore/nbproject/private/